* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    /* margin-bottom: 150px; */
    height: 3em;
    background-image: url(./green.webp);
    /* width: 100%; */
    
    position: fixed;
    top: 0;
    left: 21vw;
    
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 14px;

    border: .3px solid rgb(3, 68, 19);
    border-radius: 15px;

    box-shadow: 3px 10px 5px darkolivegreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    position: relative; 
    /* body is container: relative; 100% width and 100vh */
    height: 100vh;
    /* height: 100%; das geht ganz doll schief*/
    width: 100%;
    /* width: 100vw; */
    /* margin-top: 150px; */
    background-image: url(../images-lageplan/istockphoto-527233899-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgb(240, 248, 255, .7), rgb(0, 128, 0, .8) ); */
}
.clickTier {
    position: absolute;
    height: 20px;
    /* min-width: fit-content; */
    width: 100px;
    text-align: center;
    background-image: url(./green.webp);
    border: .3px solid rgb(3, 68, 19);
    border-radius: 15px;
    box-shadow: 3px 4px 3px darkolivegreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.clickOrt {
    position: absolute;
    height: 20px;
    /* min-width: fit-content; */
    width: 100px;
    text-align: center;
    /* background-image: url(./green.webp); */
    background-color: antiquewhite;
    border: .3px solid rgb(3, 68, 19);
    border-radius: 15px;
    box-shadow: 3px 4px 3px rgb(161, 114, 118);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/* einzelne items positionieren */

/* .Pferd {
    position: fixed;
    top: 3vh;
    left: 6vw;
    width: 70px;
}  */
.Pferd {
    position: absolute;
    top: 3%;
    left: 6%;
    width: 70px;
} 
/* .Giraffe {
    position: fixed;
    top: 13vh;
    left: 10vw;
    width: 80px;
}   */
.Giraffe {
    /* position: absolute; */
    top: 22%;
    left: 15%;
    width: 70px;
} 
.Kamel {
    /* position: absolute; */
    top: 43%;
    left: 10%;
    width: 80px;
}  
.Papagai {
    /* position: absolute; */
    top: 72%;
    left: 10%;
    width: 80px;
} 
.Schildkröte {
    top: 49%;
    left: 24%;
    width: 100px;
} 
.Tiger {
    top: 85%;
    left: 58%;
    width: 80px;
} 
.Löwe {
    top: 83%;
    left: 85%;
    right: 15%;
    width: 50px;
} 
.Bär {
    top: 60%;
    left: 90%;
    width: 40px;
} 
.Nilpferd {
    top: 22%;
    left: 30%;
    width: 80px;
}  
.Nashorn {
    top: 20%;
    left: 48%;
    width: 80px;
} 
.Affe {
    top: 8%;
    left: 48%;
    width: 80px;
} 
.Cheetah {
    top: 34%;
    left: 85%;
    width: 80px;
} 
.Elefant {
    top: 14%;
    left: 80%;
    width: 80px;
} 
.Flamingo {
    top: 57%;
    left: 80%;
    width: 80px;
} 
.Krokodil {
    top: 61%;
    left: 62%;
    width: 80px;
} 
.Toiletten {
    top: 52%;
    left: 45%;
    width: 100px;
} 
.Restaurant {
    top: 26%;
    left: 65%;
    width: 100px;
} 
.Eingang {
    top: 86%;
    left: 34%;
    width: 80px;
} 

a {
    text-decoration: none;
    color: brown;
}

.container {
    display: grid;
    width: 100vw;
    margin: 20px;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

}
.img-box {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: block;
}